# =============================================================
# PYTHON ENVIRONMENT
# =============================================================
venv/
.env/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/mail/password_mail.env


# =============================================================
# NODE / REACT
# =============================================================
node_modules/
dist/
build/
*.log
*.cache
.vscode/
.eslintcache

# =============================================================
# TESTING & COVERAGE
# =============================================================
.pytest_cache/
.coverage
htmlcov/
.cache/

# =============================================================
# IDEs & EDITORS
# =============================================================
.vscode/
.idea/

# =============================================================
# LOGS & TEMP FILES
# =============================================================
*.log
logs/
*.tmp
*.swp
*.swo

# =============================================================
# DATABASE / APP FILES
# =============================================================
*.db
instance/
uploads/

# =============================================================
# DOCKER
# =============================================================
*.pid
*.sock
.dockerignore
docker-compose.override.yml

# =============================================================
# SYSTEM FILES
# =============================================================
.DS_Store
Thumbs.db
