services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

    depends_on:
      - redis
    networks:
      - appnet

  react:
    build:
      context: ./new_frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./new_frontend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0     # ✅ מוסיף תמיכה בגישה חיצונית ל-Vite
    depends_on:
      - backend
    networks:
      - appnet


  redis:
    image: redis:latest
    container_name: devtaskpro-redis
    ports:
      - "6379:6379"
    networks:
      - appnet
    command: ["redis-server", "--appendonly", "yes"]

networks:
  appnet:
